{% extends "board_gamer/base.html" %}

{% block page_header %}
    <h3>{{ Game }}</h3>
{% endblock page_header %}

{% block content %}

    <p>Game: {{ game }}</p>

    <p>Description: {{ game.description }}</p>

    {% if game.is_borrowed %}
        <h3><p>This game has been borrowed.</p></h3>
    {% else %}
        <p>This game is free to borrow.</p>
    {% endif %}
    
    <p>
        <a href="{% url 'board_gamer:edit_game' game.id %}">Edit game</a>
        <a href="{% url 'board_gamer:borrow_game' game.id %}">Borrow game</a>
    </p>

{% endblock content %}
