{% extends "board_gamer/base.html" %}

{% block content %}

    <p>Games</p>

    <ul>
        {% for game in games %}
            {% if game.is_borrowed %}
                <li>
                    <a href="{% url 'board_gamer:game' game.id %}"> {{ game }} In use </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'board_gamer:game' game.id %}"> {{ game }} Free </a>
                </li>
            {% endif %}
            
        {% empty %}
            <li>No games have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'board_gamer:new_game' %}">Add a new game</a>

{% endblock content %}
