{% extends "board_gamer/base.html" %}

{% block page_header %}
    <h1>Games</h1>
{% endblock page_header %}

{% block content %}

    <ul>
        {% for game in games %}
            {% if game.is_borrowed %}
                <li><h3>
                    <a href="{% url 'board_gamer:game' game.id %}"> {{ game }} | In use </a>
                </h3></li>
            {% else %}
                <li><h3>
                    <a href="{% url 'board_gamer:game' game.id %}"> {{ game }} | Free </a>
                </h3></li>
            {% endif %}
            
        {% empty %}
            <li><h3>No games have been added yet.</h3></li>
        {% endfor %}
    </ul>

    <h3><a href="{% url 'board_gamer:new_game' %}">Add a new game</a></h3>

{% endblock content %}
